@import "tailwindcss";
@import "@heroui/styles";

* {
  cursor: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-lemon: #faff29;
  --color-lemon-medium: #969919;
  --color-lemon-light: #feffd4;
  --color-aubergine: #2b0d49;
  --color-aubergine-bright: #4A088D;
  --color-aubergine-medium: #806e92;
  --color-aubergine-light: #d5cfdb;
  --color-fuchsia: #ff60e7;
  --color-fuchsia-medium: #ffa0f1;
  --color-fuchsia-light: #ffdffa;
  --color-cloud: #fcfcfc;
  --color-cloud-medium: #cacaca;
  --color-cloud-dark: #323232;
  --color-minneola: #ff4600;
  --color-minneola-medium: #ff9066;
  --color-minneola-light: #ffdacc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-josefin-sans); */
}
