.homeServiceSection {
  position: relative;
  display: flex;
  gap: 24px;
  overflow-x: auto;
  z-index: 900;
  transform: translateY(-15rem);
  padding: 4rem 2rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
.innerServiceWrapper {
  display: flex;
  gap: 16px;
  padding-left: 10%;
  padding-right: 10%;
}

.innerServiceWrapper > * {
  display: flex;
  gap: 16px;
}

.innerServiceWrapper > * > * {
  opacity: 0;
  visibility: hidden;
  transform: translateY(200px);
}
.serviceTitleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  background: red;
}
.serviceTitle {
  font-size: 3rem;
  color: var(--color-aubergine);
  font-family: var(--font-josefin-sans);
  font-weight: 700;
  text-align: center;
}
.serviceSubtitle {
  color: var(--color-aubergine);
  font-family: var(--font-josefin-sans);
  font-weight: 400;
  font-size: 1rem;
  width: 30%;
  text-align: center;
}
.scrollSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}