.homeServiceSection {
  position: relative;
  display: flex;
  gap: 24px;
  overflow-x: auto;
  z-index: 900;
  transform: translateY(-15rem);
  padding: 4rem 2rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
.innerServiceWrapper {
  display: flex;
  gap: 16px;
  padding-left: 10%;
  padding-right: 10%;
}