.homeServiceSection {
  position: relative;
  display: flex;
  gap: 24px;
  overflow-x: auto;
  z-index: 900;
  transform: translateY(-15rem);
  padding: 4rem 2rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
.innerServiceWrapper {
  display: flex;
  gap: 16px;
  padding-left: 10%;
  padding-right: 10%;
}

.innerServiceWrapper > * {
  display: flex;
  gap: 16px;
}

.innerServiceWrapper > * > * {
  opacity: 0;
  visibility: hidden;
  transform: translateY(200px);
}
.serviceTitle {
  position: absolute;
  left: 50%;
  top: 0;
  color: black;
}